In [38]:
from faker import Faker
import pandas as pd

from scipy.stats import norminvgauss
import matplotlib.pyplot as plt

import numpy as np

In [71]:
np.random.seed(0)

def create_df():
    
    plt = {'mu': 35.55, 'sigma': 4.53}

    dates = pd.date_range(start='1/1/2013', end='1/01/2015')
    x = np.random.normal(plt['mu'], plt['sigma'], (len(dates), 1)).round(decimals=2)
    df = pd.DataFrame(x, columns=['Plt_tranfused'])
    df = df.set_index(dates)
    
    return df

def fill_df():
    
    sigma = [17.16, 16.58, 46.17, 16.3, 
             32.22, 25.05, 16.41, 2.11, 12.38]
    
    mu = [255.88, 200.77, 651.95, 198.3, 
          198.25, 185.19, 56.66, 9.4, 131.35]
    
    cols = ['PLT', 'WBC', 'RBC', 'HGB', 
            'MCV', 'MCH', 'MCHC', 'RDW', 'ALYM']
    
    df = create_df().reindex(columns=create_df().columns.tolist() + cols)
    
    
    for i in range(len(mu)):
        
        new_vals = np.random.normal(mu[i], sigma[i], (len(create_df()), 1)).round(decimals=2)
        df[cols[i]] = new_vals

    
    df.to_csv('healthnet_mockdata.csv')

    
fill_df()

            Plt_tranfused
2013-01-01          43.54
2013-01-02          37.36
2013-01-03          39.98
2013-01-04          45.70
2013-01-05          44.01
...                   ...
2014-12-28          31.32
2014-12-29          41.18
2014-12-30          39.23
2014-12-31          38.21
2015-01-01          33.26

[731 rows x 1 columns]

In [74]:
new_df = pd.read_csv('healthnet_mockdata.csv')

In [75]:
new_df.head()

,Unnamed: 0,Plt_tranfused,PLT,WBC,RBC,HGB,MCV,MCH,MCHC,RDW,ALYM
0,2013-01-01,33.75,259.85,207.89,612.16,201.09,229.24,132.21,30.37,9.16,144.14
1,2013-01-02,31.63,231.85,206.62,664.76,218.56,268.55,178.66,62.78,11.14,135.53
2,2013-01-03,38.58,233.94,212.81,736.43,202.80,211.90,185.57,40.10,7.09,161.05
3,2013-01-04,29.45,262.60,223.99,589.60,174.25,220.29,199.53,60.06,8.99,132.87
4,2013-01-05,40.58,227.88,184.17,659.70,201.17,220.76,186.90,69.28,11.09,138.78

In [22]:
# mock_mu_sigma['mu'], mock_mu_sigma['sigma']

({'PLT': 255.88,
  'WBC': 200.77,
  'RBC': 651.95,
  'HGB': 198.3,
  'MCV': 198.25,
  'MCH': 185.19,
  'MCHC': 56.66,
  'RDW': 9.4,
  'ALYM': 131.35},
 {'PLT': 17.16,
  'WBC': 16.58,
  'RBC': 46.17,
  'HGB': 16.3,
  'MCV': 32.22,
  'MCH': 25.05,
  'MCHC': 16.41,
  'RDW': 2.11,
  'ALYM': 12.38})

In [30]:
y = ''

for key in mock.keys():
    di = mock[key]
    if y in di.keys():
       inst = key
       cont = di[y]

NameError: name 'y' is not defined